$font : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

$background :#1e293b;
$white : #ffffff;
$border: 1px solid #708090;
$activeBorder: #3b82f6;
$primaryColor: #60a5fa;
$grayText: #9ca3af;
$danger: #dc2626;
$gray: #6b7280;

@mixin atag {
  :hover, focus{
    color: gray;
  }
}


//전체 레이아웃.
body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  background-color: $background;
  color: $white;
}

.transparent{
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.sticky{
  width: 100%;
  position:sticky;

  //가운데정렬을 할수있도록 max-width, margin
  max-width: 600px;
  margin: 0 auto;
  top: 0;
}



.layout{
  border: $border;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;

  .footer{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: transparent;
    color: $white;

    &__grid{
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      background-color: transparent;

      button{
        display: flex;
        gap: 8px;
        border: none;
        justify-content: center;
        align-items: center;
        font-size: 15pt;
        background-color: transparent;
        padding: 16px 0px;
        backdrop-filter: blur(10px);
        cursor: pointer;
      }
    }
  }

  .home{

    &__top{
      @extend .transparent;
      @extend .sticky;
    }

    &__title{
      font-size: 20pt;
      padding: 8px;
      font-weight: bold;
      background-color: transparent;
      width: 100%;
    }

    &__tabs{
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      background-color: transparent;

      .home__tab{
        font-size: 14pt;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        background-color: transparent;

        &--active{
            border-bottom: 2px solid $activeBorder;
            font-weight: 600;
        }

        &:hover, &focus{
          background-color: lighten($color: $background, $amount: 3%);
        }
      }
    }
  }

  .post-form{

    &__image-area{
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__profile{
      display: flex;
      justify-content: center;
    }

    &__input{
      width: 100%;
      border: none;
      outline:none;
      font-size: 16pt;
      padding: 5px;
    }

    &__attachment{
      display: flex;
      align-items: flex-end;
      gap : 16px;

      button{
        border: none;
        cursor: pointer;
        background-color: $danger;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        text-align: center;
        padding: 3px 10px;

        &:hover, &:focus{
          background-color: darken($color: $danger, $amount: 10);
        }
      }
    }

    &__file{
    }

    &__submit-area{
      display: flex;
      border-bottom: $border;
      padding: 10px;
      align-items: end;
      justify-content: space-between;
    }

    &__hashtag{
      display: flex;
      align-items: center;
      flex-direction: column;

      &-output{
        width: 99.4%;

        button{
          height: 25px;
          margin-right: 5px;
          border: 1px solid $activeBorder;
          border-radius: 10px;
          color: $activeBorder;
          padding: 0px 10px;
          margin-top:3px;
          cursor: pointer;
          font-weight: 600;

          &:focus, &:hover{
            color: $gray;
            border: 1px solid $gray;
          }
        }
      }

      &-input{
        width: 100%;
        margin-top: 5px;

        input{
          width: 99.4%;
          border: none;
          outline: none;;
          font-size: 20px;
          border-bottom: 1px solid $gray;
        }
      }

    }

    &__textarea{
      width: 98%;
      height: 120px;
      border: none;
      border-bottom: $border;
      padding: 5px;//4 =상, 우 , 하, 좌, 2= 상하,좌우 , 3=상, 좌우, 하 
      font-size: 18pt;
      font-family: $font;
      resize: none;
      outline: none;
    }

    

    &__submit-btn{
        width: 70px;
        height: 30px;
        border: none;
        border-radius: 0.5rem;
        background-color: $primaryColor;
        margin-right: 10px;

        &:hover, &:focus{
          background-color: $activeBorder;
        }
      }
  }


  .post{

    &__image-div{
      padding: 16px;
    }

    &__back{
      border-bottom: 1px solid $gray;
      height: 40px;
      width: 100%;
      cursor: pointer;
      text-align: center;
      
      &-icon{
        height: 98%;
        min-width: 50px;
        max-width: 50px;
      }
    }

    &__no-post{
      padding: 17px;

      .post__text{
        border: 1px solid $gray;
        border-radius: 4px;
        padding: 10px;
      }
    }

    .post__box{
      border-bottom: $border;
      padding-bottom: 15px;
      padding-top: 20px;
      & a{
        text-decoration: none;
        
        :hover,:focus{
          color: $gray; 
        }
      }

      .post__box-profile{
        display: flex;
        height: 30px;
        color: gray;
        padding-bottom: 20px;

        .post__flex{
          flex-grow: 0.5;
        }

        .post__box-profile-icon{
          width: 30px;
          height: 30px;
          margin: 5px 0px 0px 5px;
        }
        
        .post__email{
          align-content: center;
          font-size: 10pt;
          color: gray;
          flex-grow: 1.2;
        }

        .post__createAt{
          align-content: center;
          font-size: 11pt;
          color: gray;
          flex-grow: 2.1;
        }
      }

      .post__follow{
        text-align: right;
        padding: 3px 10px 3px 3px;
        flex-grow: 6.2;

        button{
          border: none;
          outline: none;
          font-size: 11pt;
          background-color: white;
          color: $primaryColor;
          font-weight: 550;
          padding:5px 10px;
          border-radius: 10px;
          cursor: pointer;
        }
      }

      .post__following{
        text-align: right;
        padding: 3px 10px 3px 3px;
        flex-grow: 5.5;

        button{
          border: none;
          outline: none;
          font-size: 11pt;
          background-color: $primaryColor;
          color: white;
          font-weight: 550;
          padding:5px 10px;
          border-radius: 10px;
          cursor: pointer;
        }
      }

      .post__box-content{
        margin: 7px;
        font-size: 12pt;
      }

      .post__box-footer{
        display: flex;
        flex-direction: row-reverse;
        gap:10px;

        .post__likes{
          border: none;
          @include atag();
        }
        .post__comments{
          border: none;
          @include atag();
        }
        .post__edit{
          @include atag();
          border-radius: 0.5rem;
          border:none;
          background-color: $gray;
          border-radius: 0.5rem;

          a{
            background-color: transparent;
          }
        }
        .post__delete{
          cursor: pointer;
          background-color: $danger;
          border:none;
          margin-right: 3px;
          border-radius: 0.5rem;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          line-height: 1.25rem;
        }
      }
    }
  }


  /* Sign up */
  .signup{
    margin: 0 auto;
    
    &__email, &__password{
      display: flex;
      flex-direction: column;

      label{
        font-size: 11pt;
        margin: 5px 10px;
      }

      input{
        margin: 5px 10px;
        border: $border;
        height: 40px;
        border-radius: 0.5rem;
        font-size: 15pt;
      }
    }

    &__submit{
      display: block;
      margin: auto;
      margin-top: 20px;
      width: 97%;
      height: 40px;
      border: none;
      background-color: $primaryColor;
      border-radius: 0.5rem;
      cursor: pointer;
    }

    .btn__email{
      &:hover, &:focus{
         background-color: lightyellow;
        color: $activeBorder;
      }
    }

    .btn__google{
      color: $activeBorder;
      background-color: $white;

      &:hover, &:focus{
        background-color: lightgrey;
        color: $white;
      }
    }

    .btn__github{
      color: $white;
      background-color: black;

      &:hover, &:focus{
        background-color: burlywood;
        color: $primaryColor;
      }
    }
  }

  .search{
    &__title{
      padding: 10px;
      font-size: 30px;
      font-weight: 600;
      border-bottom: 1px solid $gray;
    }

    &__input{
      padding: 10px;
      width: 95%;

      input{
        width: 98%;
        padding: 10px;
        border: none;
        outline: none;
        font-size: 22px;
        font-weight: 500;
        background-color: lighten($color: $background, $amount: 3);
        border-radius: 0.5rem;
      }
    }
  }


  .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid $gray;

    &__image{
      width:100px;
      height: 100px;
      border-radius: 50%;
    }

    &__btn{
      border: none;
      outline: none;
      background-color: $primaryColor;
      border-radius: 0.3rem;
      padding: 5px;
    }

    &__text{
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      font-size: 20pt;
      font-weight: 510;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border-top: 1px solid $gray;
    }

    &__email{
      font-size: 14pt;
      align-self: flex-end;
    }
  }






}




/* Loader start*/
.loader{
  width: 48px;
  height: 48px;
  border: 5px solid blue;
  border-radius: 50%;
  z-index: 9999;
  animation: rotation 1s linear infinite;

  /* 정가운데 맞추기 */
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  margin : auto;
}
/* Loader End*/

.sign__inup{
  padding: 7px;
  font-size: 10pt;

  a{
    text-decoration: none;

    &:hover, &:focus{
      color: gray;
    }
  }
}

.error__message{
  color: red;
  text-align: center;
}
.hidden{
  visibility: hidden;
  width: 0;
  height: 0;
}

